<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css" content="text/css">
    <title>QR Code Generator</title>
</head>

<body>
    <header class="header"> QR Code Generator </header>
    <div class="container">
        <form id="form" action="qrcode" method="post" class="form">
            <label for="url" class=""> Wprowadź link: </label>
            <input type="text" name="url" class="" required />
            <button id="button" type="submit" class=""> Generuj </button>
        </form>
        <span id="generated-QR-code"></span>
    </div>
    <script>
        const button = document.getElementById('button');
        const form = document.getElementById('form');
        const generated = document.getElementById("generated-QR-code");
        form.addEventListener("submit", (e) => {
            e.preventDefault();
            const url = form.url.value;
            fetch(form.getAttribute("action"), {
                method: 'POST',
                body: JSON.stringify({ url: url }),
                headers: {
                    "Content-Type": "application/json",
                },
            }).then(function (response) {
                if (response.ok) {
                    response.json().then((data) => {
                        generated.innerHTML = "<div class='qr'><img src='" + data.fileName + "'/></div>";
                    })
                    return Promise.resolve(response);
                }
                return Promise.reject(response);
            }).catch(function (error) {
                console.warn('Something went wrong.', error);
            });
        });
    </script>
</body>

</html>